@font-face{
	font-family: Logo;
	src: url(../fnt/ka1.ttf);
}

@font-face{
	font-family: Normal;
	src: url(../fnt/PixelSplitter-Bold.ttf);
}

@font-face{
	font-family: sans-serif;
	src: url(../fnt/RobotoCondensed-Regular.ttf);
	font-weight: normal;
	font-style: normal;
}

@font-face{
	font-family: sans-serif;
	src: url(../fnt/RobotoCondensed-Bold.ttf);
	font-weight: bold;
}

@font-face{
	font-family: sans-serif;
	src: url(../fnt/RobotoCondensed-Italic.ttf);
	font-style: italic;
}

@font-face{
	font-family: sans-serif;
	src: url(../fnt/RobotoCondensed-BoldItalic.ttf);
	font-weight: bold;
	font-style: italic;
}