/*******************************
 * Main
 *******************************/

html, body {
	margin: 0;
	padding: 0;
	
	background-color: rgb(64,64,64);
	
	font-family: sans-serif;
}

html{
	position: absolute;
	width: 100%;
	height: 100%;
	
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: stretch;
	
	display: -webkit-flex;
	-webkit-flex-direction: column;
	-webkit-justify-content: space-around;
	-webkit-align-items: stretch;
}

body{
	height: 100%;
	margin-left: 1%;
	margin-right: 1%;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;	
	
	display: -webkit-flex;
	-webkit-flex-direction: column;
	-webkit-justify-content: space-around;
	-webkit-align-items: stretch;
}

header, article, footer {
	margin: 0;	
	margin-top: 1%;
	margin-bottom: 1%;
	padding: 1%;
	
	background-color: rgb(37, 37, 37);
	color: white;
}

header, footer{
	flex-grow: 0;
	-webkit-flex-grow: 0;
}

article{
	flex-grow: 1;
	-webkit-flex-grow: 1;
}

section {
	margin: 0;
	padding: 0;
}

a{
	color: white;
}

input, button{
	border: none;
	outline: none;
	margin:0;
}

input{
	padding-top: 1%;
	padding-bottom: 1%;
}

input[type="password"]{
	font-family: sans-serif;
}

button{
	color: white;
	background-color: gray;
	padding: 4%;
}

button:active{
	background-color: lightgray;
}

button.store{
	background-color: seagreen;
	color: white;
}

button.store:active{
	background-color: white;
	color: seegreen;
}

button.checkable:after{
	content: "?"
}

button.checkable.checked:after{
	content: "!"
}

button.checkable {
	color: black;
	background-color: #c0c0c0;
}

button.checked{
	color: white;
	background-color: #303030;
}


/* Header */

header section {
	display: flex;
	flex-direction: row;
	justify-content: left;
	align-items: stretch;
	
	display: -webkit-flex;
	-webkit-flex-direction: row;
	-webkit-justify-content: left;
	-webkit-align-items: stretch;
}

header button{
	margin: 0;
	margin-right: 1%;
	padding: 1%;
	padding-left: 5%;
	padding-right: 5%;
}

header h1{
	margin: 0;
	margin-right: 1%;
	padding: 1%;
	
	text-align: left;
}

/* Footer */

footer section {
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: stretch;
	
	display: -webkit-flex;
	-webkit-flex-direction: column;
	-webkit-justify-content: left;
	-webkit-align-items: stretch;
}

footer button, footer div{
	display: block;
	margin: 0;
	padding: 4%;
	
	line-height: 1.0;
}

footer div{
	padding-left: 1%;
	padding-right: 1%;
}

/* Content */

article *:first-child{
	margin-top: 0;
}

article *:last-child{
	margin-bottom: 0;
}

article {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
	
	display: -webkit-flex;
	-webkit-flex-direction: row;
	-webkit-justify-content: center;
	-webkit-align-items: stretch;
}

section {
	width: 100%;
}

article section {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: stretch;
	
	display: -webkit-flex;
	-webkit-flex-direction: column;
	-webkit-justify-content: space-around;
	-webkit-align-items: stretch;
}

article section.start button{
	margin-top: 1%;
	margin-bottom: 1%;
}


article section.tagebuch {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	
	display: -webkit-flex;
	-webkit-flex-direction: row;
	-webkit-align-items: stretch;
}

.tagebuch textarea{
	width: 100%;
	height: auto;
	padding: 0;
	background-color: transparent;
	color: white;
	border: none;
	font-family: sans-serif;
}


/*******************************
 * PC (Mobile * 3)
 *******************************/




/*******************************
 * Mobile
 *******************************/


@media (max-width: 1024pt) {
	html {
		font-size: 34.7pt;
	}
	
	header h1{
		font-size: 47.8pt;
	}
	
	footer {
		font-size: 21.7pt;
	}
	
	input, button, textarea, footer button, footer div {
		font-size: 26pt;
	}
}

@media (max-width: 480pt) {
	html, footer button, footer div {
		font-size: 16pt;
	}
	
	header h1{
		font-size: 22pt;
	}
	
	footer {
		font-size: 10pt;
	}
	
	input, button, textarea {
		font-size: 12pt;
	}
}